.banner__titulo {
    align-items: center;
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    width: 100%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 2em;
        text-align: center;
        left: 50%;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: min(6vw, 5.0625em);
    }
    
}